<h3 class="my-5"> 
    Contact Page

</h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact.jpg" class="img-fluid col-5"/>
    <div class="col-7">
        <h1>We would love hear from you</h1>
        <email email="info@@bethanys.com" Content="Email To us" class="btn btn-secondary"></email>
    </div>
</div>